.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.shape {
  height: var(--pod-height);
  width: var(--pod-width);
  margin-bottom: var(--shape-gap);
  background-color: var(--color-primary);
  border-radius: var(--border-radius);
}

.element-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: var(--font-type-size);
  color: var(--font-color);
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: var(--font-description-size);
  color: var(--font-color);
}

.panel:hover {
  cursor: pointer;
}
