.container {
  display: flex;
  margin-bottom: 10px;
}

.type-background {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100px;
  border-radius: 4px;
  margin: 0 5px 5px 0;
  color: var(--font-color);
}
